body {
    background: linear-gradient(-45deg,rgb(208, 0, 153),rgb(1, 1, 79) 70%);
    min-height:1000px;
}
/* header section*/
header {

    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgba(173, 173, 173, 0.17);
    border-radius: 15px;
    padding: 15px;
    box-shadow: 0px 0px 15px 10px rgba(0, 0, 0, 0.308);
    
}
.header-column-droite {
    display: flex;
    flex-direction: column;

}
.header-titre{
    display: flex;
    justify-content: center;
    font-family: "Montserrat",sans-serif;
    color: white;
    

}
.header-column-none{
    margin: 10px;
    padding: 15px;
}
.header-menu{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-evenly;
    color: white;

}
.logo{
    width: 100px;

}
a:visited{
    color: white;
    text-decoration: underline;
    text-decoration-color: pink;

}

/*bordel*/
p{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: "Montserrat",sans-serif;
    color: white;
}
.TitreSection{
    color: white;
    font-family: "Montserrat",sans-serif;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;

}
.listeArticlesHome{
    color: white;
    font-family:"Montserrat",sans-serif ;
    display: flex ;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(173, 173, 173, 0.17);
    border-radius: 15px;
    padding: 15px;
    box-shadow: 0px 0px 15px 10px rgba(0, 0, 0, 0.308);
    margin-left: 400px;
    margin-right: 400px;
}
.img2{
    width: 400px;
    
    border-radius: 15px;
    border: 1px;
    box-shadow: 0px 0px 15px 15px rgba(0, 0, 0, 0.221);
}
td{
    padding: 10px;
}
.TableauHome{
    display: flex;
    justify-content: center;
    align-items: center;
    

}
tr{
    display: flex;
    align-items: center;
    padding: 15px;
    justify-content: space-around;

}
table{
    background-color: rgba(173, 173, 173, 0.17);
    border-radius: 15px;
    padding: 15px;
    box-shadow: 0px 0px 15px 10px rgba(0, 0, 0, 0.308);
    margin: 50px;
}

/*footer*/
.nomPrenomGroupeContainer{
    color: white;
    font-family:"Montserrat",sans-serif ;
    display: flex;
    align-items: center;
    justify-content: center;

}
.nomPrenomGroupe:hover{
    box-shadow: 0px 0px 15px 5px blue;
    background-color: blue;
    transition : 0.5s;
}
.nomPrenomGroupe{
    box-shadow: 0px 0px 15px 15px rgba(255, 255, 255, 0);
    background-color: rgba(255, 255, 255, 0);
    transition : 0.5s;
}
.linkHeader:hover{
    box-shadow: 0px 0px 15px 10px blue;
    background-color: blue;
    transition : 0.5s;
}
.linkHeader{  
    transition : 0.5s;
}
a:hover{
    box-shadow: 0px 0px 15px 10px blue;
    background-color: blue;
    transition : 0.5s;
}
a{  
    transition : 0.5s;
}

/*form*/
.global-form{
    color:white;
    border-radius: 50px;
    background: #ffffff21;
    padding: 50px;
    box-shadow: 0px 4px 40px -20px #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:15px;
    margin: 15px;
    margin-inline: 600px;
    padding-bottom: 30px;

}
textarea::placeholder, select::placeholder,.name::placeholder{
    color:rgba(255, 255, 255, 0.447);
    font-size: 10px; 
}
textarea, select,.name,option{
    border:1px solid rgba(255, 0, 0, 0);
    border-radius: 5px;
    padding: 15px;
    margin: 15px;
    color:black;
    font-family: "Montserrat",sans-serif;
    border-color: #ffffff00;
    background-color:#ffffff2e;
    box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.222);
    transition: 0.5s; 
}
textarea:focus, select:focus,.name:focus{
    border-color: #ffffff00;
    outline: none !important;
    background-color:#ffffff5e;
    border:0px solid rgba(255, 0, 0, 0);
    transition: 0.5s;
}
.button-valider-div{
    display:flex;
    justify-content: center;
    align-items: center;
    

}
.button-valider{
    border-radius: 5px;
    padding: 5px;
    color:white;
    background-color: #ffffff21;
    border-color: #ffffff00;
    box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.192);
    transition:500ms;
}
.button-valider:hover{
    border-radius: 5px;
    padding: 10px;
    background-color: #ffffff44;
    border-color: #ffffff00;
    transition:500ms;
}
.TitreSection-Article{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Montserrat",sans-serif;
    color:white;
    font-weight: 600;
}
.CategorieArticle{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Montserrat",sans-serif;
    color:white;
    font-weight: 400;
}
.Text-Article{
    color: white;
    font-family: "Montserrat",sans-serif;
    font-size: 15px;
    font-weight: 200;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

}
.auteur,.source{
    color: white;
    font-family: "Montserrat",sans-serif;
}
.auteur-div{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.img3{
    width: 400px;
    
    border-radius: 15px;
    border: 1px;
    box-shadow: 0px 0px 15px 15px rgba(0, 0, 0, 0.221);
    
}
.image-article{
    display: flex;
    justify-content: center;
    align-items: center;
}

/*reste*/
a{
    font-family: "Montserrat",sans-serif;
    color: white;
    outline-color: green;
}