header  {
 



}
li{
    min-width: 120px;
}
menu, ul {
    display: flex;
    
    list-style: none;
    padding: 20px;
    margin: 0;
  }
#app{
    color: red;
}
/*
#header-bouton{
    
    
    margin-left: auto;
    margin-right: auto;
   
    
}*/

